.reviewOrder{
  padding: 33px 20px;
  .empty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    p{
      text-align: center;
    }
  }
  .itemImg{
    width: 200px;
    height: 200px;
  }
  .btnBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    position: relative;
  }
  .clearBtn{
    height: 28px;
    background: #CA2D18;
    width: 88px;
    border-radius: 2px;
    position: absolute;
    right: 0;
    bottom: 0;
    &:hover{
      background: #CA2D18;
    }
  }
}



.footer{
  width: 95%;
  height: 68px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  background: linear-gradient(180deg, rgba(58,58,58,0) 0%, #3A3A3A 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  .btn{
    height: 28px;
    background: #AEBDD8;
    width: 116px;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #333333;
    &:hover{
      background: #AEBDD8;
    }
  }
  .count{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300;
  }
}

.imageInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin-top:  10px;
  position: relative;
}

.item{
  display: flex;
  font-size: 16px;
  letter-spacing: 1px;
  .label{
    display: block;
    width: 110px;
    line-height: 22px;
  }
  .content{
    display: inline-block;
    width: 80%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    line-height: 22px;
  }
}
