.footer{
  width: 100%;
  height: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(34,34,34,0) 0%, #222222 100%);
  z-index: 999;
  .statement,.phone{
    font-size: 10px;
    font-weight: 300;
    transform: scale(0.8);
  }
  .statement{
    transform-origin: right;
    @include white-space-nowrap();
    a{
      color: #5994FF;
      text-decoration: none;
    }
  }

  .phone{
    color: #fff;
    transform-origin: left;
  }
}