// .MuiCalendarPicker-root{
// 	background: linear-gradient(180deg, #40485C 30%, #40485C 70%);
// 	box-shadow: 0px 0px 24px 4px rgba(26,28,37,0.5);
// 	border-radius: 2px;
// 	backdrop-filter: blur(3px);
//   .MuiPickersDay-root{
//     background: none;
//     border-radius:2px;
//   }
//   .Mui-selected{
//     background: linear-gradient(180deg, #AEBDD8 0%, #7E98C8 71%, #8499BF 100%);
//     box-shadow: 0px 0px 8px 0px rgba(43,48,63,0.5000);
//     color: #fff !important;
//   }
// }


// .MuiMenu-root{
//   .MuiPaper-root{
//     background: linear-gradient(180deg, #40485C 30%, #40485C 70%);
//     box-shadow: 0px 0px 24px 4px rgba(26,28,37,0.5);
//     border-radius: 2px;
//     backdrop-filter: blur(3px);
//     font-size: 12px;
//     .Mui-selected{
//       background: #232734 !important;
//     }
//   }
//   .MuiList-root{
//     padding: 0;
//     .MuiMenuItem-root{
//       font-size: 12px;
//     }
//   }
// }



.MuiPickersModal-dialogRoot{
  .MuiPickersToolbar-toolbar{
    background-color:#464646;
    .MuiButton-text{
      .MuiButton-label{
        h6{
          font-weight: 500;
          color: #AEBDD8;
          font-size: 14px;
          line-height: 38px;
        }
      }
    }
  }

  /* 左右截图背景 */
  .MuiPickersCalendarHeader-iconButton{
    background-color: transparent;
    .MuiIconButton-label{
      color:#fff
    }
  }
  .MuiPickersCalendarHeader-switchHeader{
    .Mui-disabled{
      opacity: 0.25;
    }
  }
  /* 选中日期背景色 */
  .MuiPickersDay-daySelected{
    background-color:#AEBDD8;
    color:#333333 !important;
 
    &:hover{
      background-color:#829fd3;
    }
  }
  /* 星期栏样式 */
  .MuiPickersCalendarHeader-dayLabel{
    color: #FFFFFF;
  }
  /* 禁用日的样式 */
  .MuiPickersDay-dayDisabled{
    color: #FFFFFF;
    opacity: 0.25;
  }
  /* 日的基本样式 */
  .MuiPickersDay-day{
    color: #FFFFFF;
    border-radius: 2px;
  }
  /* 日选中的日期样式 */
  .MuiPickersDay-current{
    color: #AEBDD8;
  }
  /* 年选中的日期样式 */
  .MuiTypography-colorPrimary{
    color: #96acd4;
  }
}

.MuiPaper-root{
  background-color: #3A3A3A !important;
  color:#fff !important
}


/* 按钮 */
.date_btn{
  color: #333333 !important;
  background: #AEBDD8 !important;
  padding: 0 30px !important;
  height: 28px !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
}

.date_cancel_btn{
  color: #fff;
  letter-spacing: 2px;
  &:hover{
    opacity: 0.8;
  }
}